<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TempoTales</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header">
    <h1 class="logo">
      <span role="img" aria-label="music">🎵</span>
      <a href="/" class="title">TempoTales</a>
    </h1>
    {{#if logged_in}}
      <a href="/profile">Profile</a>
      <button class="btn btn-logout" id="logout">Logout</button>
  {{else}}
      <a href="/login">Login</a>
  {{/if}}
  </header>
  <main class="main">
    <div class="container">
      {{{ body }}}
    </div>
  </main>
  <footer class="footer">
    <p>&copy; 2023 TempoTales. All rights reserved.</p>
  </footer>
</body>
<script src='./js/logout.js'></script>
</html>
