header, .project:not(:last-child) {
  /* border-bottom: 1px solid #ccc; */
  box-shadow: 15px 15px 30px var(--smokey),
  -15px -15px 30px #ffffff;
}

/* login page */

body {

  background: #36D1DC; 
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  
background: linear-gradient(to right, #5B86E5, #36D1DC);
  /* background: #000046; 
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  
background: linear-gradient(to right, #1CB5E0, #000046);  */
}

header.header {
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5); 
    padding-top: 15px;
    background-color: #000000;
}

nav.nav {
 display: none;
}

a.title {
  /* color: #a8ffb9; */
  /* color: #091518; */
  text-decoration: none;
}

div.container{
  margin-top: 100px;
}

div.col-md-6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

div.col-md-6{
  transform: scale(0.98);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 1px rgb(44 154 223 / 30%);
}

h2 {
  text-align: center;
  margin: 2em;
  color: #7AD7F0;
  font-size: 1.2em;
}

label {
  text-align: center;
  margin: 2em;
  color: #7AD7F0;
  font-size: 1.2em;
}

form .form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  /* border: none; */
  outline: inset;
  color: #7AD7F0;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.btn.btn-primary {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
}

.btn.btn-primary:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
}

footer.footer{
  display: flex;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

/* profile page */

div.row.mt-4 {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 50rem;
  background-color: white;
  padding: 20px;
  /* border: 4px solid #1d1b1b; */
  border-radius: 10px;
  /* background: linear-gradient(to right ,#4b53ed,rgb(75, 142, 250)); */
  background-image: url(./Screenshot\ 2023-07-15\ at\ 17.48.46.png);
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

h3.new.post {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-right: -100px;
  margin-left: 60px;
}

label.post-header {
  margin-right: 190px;
  color: rgb(0, 0, 0);
}

label.content {
  margin-right: 190px;
  color:rgb(0, 0, 0);
}

input#post-title.input-form {
  outline: 0;
  border: 1px solid rgb(114 113 113);
  /* border: 1px solid rgb(219, 213, 213); */
  padding: 8px 14px;
  border-radius: 8px;
  width: 45rem;
  height: 50px;
  /* background: linear-gradient(to right ,#4b53ed,rgb(75, 142, 250)); */
  background-color: #f9f6f6b5;
  box-shadow: 2px 2px 12px inset rgba(0, 0, 0, 0.268);
}


textarea#post-content.input-form {
  border-radius: 8px;
  height: 160px;
  width: 45rem;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  /* background: linear-gradient(to right ,#4b53ed,rgb(75, 142, 250)); */
  background-color: #f9f6f6b5;
  box-shadow: 2px 2px 12px inset hsla(0, 0%, 0%, 0.268);
  /* border: 1px solid rgb(219, 213, 213); */
}

button.btn-primary {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(76, 179, 223);
  color: #000000;
  cursor: pointer;
  margin-right: 185px;
}

/* profile post list */


h2.welcome {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-top: -25px;
}

div.post-list {
  background-color: rgb(0, 0, 0);
  padding: 2em;
  padding-right: 25px;
  padding-left: 23px;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
  position: absolute;
  margin-left: 52rem;
  margin-top: -1.3rem;
}

h3.recent {
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}


.post-list a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.post-list a:hover {
  color: #197eea;
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px;
  background-color: #282828;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.album-cover {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 12px;
  /* ADD logo to cover once made */
}

.player-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog-info {
  margin-bottom: 4px;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease
}

.blog-info:hover {
  transform: translateY(-0.33em);
}

div.blog-title {
  font-size: 16px;
  color: #fff;
  margin: 0;
}


.artist {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #4f4f4f;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 50%;
  height: 100%;
  background-color: #1db954;
  transform-origin: left;
  animation: progress-animation 10s linear infinite;
}

button.btn.btn-sm.btn-danger:hover {
  background: #ff3636;
  transform: translateY(-0.20em);
}

/* play/pause buttons */

.buttons {
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.play-btn,
.pause-btn {
  font-size: 16px;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

.play-btn:hover,
.pause-btn:hover {
  transform: scale(1.2);
}


h2.welcome{
  animation: color-change 1s 1s ;
}



/* CSS for Post Card */
.post.card {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* CSS for Card Header */
.card-header {
  margin-bottom: 20px;
}

.card-header h2 {
  font-size: 18px;
  margin: 0;
}

/* CSS for Edit Post Form */
#edit-post-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea.form-input {
  height: 150px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

#delete-btn {
  background-color: #dc3545;
  margin-right: 10px;
}



@keyframes color-change {
  0% { color: rgb(22, 59, 225); }
  50% { color: rgb(103, 140, 199); }
  100% { color: rgb(80, 88, 94); }
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

